<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/index.css">
  <style>
    .el-dropdown .q-button-group{display:block}.el-dropdown .q-button-group .el-button{float:none}
    .q-row::after,.q-row::before{margin-bottom:12px}
  </style>
</head>

<body>
  <h1>
    Button 按钮
  </h1>

  <h2>基础按钮</h2>
  <div class="q-row">
    <button class="q-button">默认按钮</button>
    <button class="q-button q-button--primary">主要按钮</button>
    <button class="q-button q-button--success">成功按钮</button>
    <button class="q-button q-button--info">信息按钮</button>
    <button class="q-button q-button--warning">警告按钮</button>
    <button class="q-button q-button--danger">危险按钮</button>
  </div>
  <div class="q-row">
    <button class="q-button is-plain">朴素按钮</button>
    <button class="q-button q-button--primary is-plain">主要按钮</button>
    <button class="q-button q-button--success is-plain">成功按钮</button>
    <button class="q-button q-button--info is-plain">信息按钮</button>
    <button class="q-button q-button--warning is-plain">警告按钮</button>
    <button class="q-button q-button--danger is-plain">危险按钮</button>
  </div>

  <div class="q-row">
    <button class="q-button is-round">圆角按钮</button>
    <button class="q-button q-button--primary is-round">主要按钮</button>
    <button class="q-button q-button--success is-round">成功按钮</button>
    <button class="q-button q-button--info is-round">信息按钮</button>
    <button class="q-button q-button--warning is-round">警告按钮</button>
    <button class="q-button q-button--danger is-round">危险按钮</button>
  </div>

  <div class="q-row">
    <button class="q-button  q-icon-search is-circle"></button>
    <button class="q-button q-icon-edit is-circle"></button>
    <button class="q-button q-icon-check is-circle"></button>
    <button class="q-button q-icon-message is-circle"></button>
    <button class="q-button q-icon-star-off is-circle"></button>
    <button class="q-button q-icon-delete is-circle"></button>
  </div>
  <h2>禁用按钮</h2>
  <div class="q-row">
    <button class="q-button is-disabled">默认按钮</button>
    <button class="q-button q-button--primary is-disabled">主要按钮</button>
    <button class="q-button q-button--success is-disabled">成功按钮</button>
    <button class="q-button q-button--info is-disabled">信息按钮</button>
    <button class="q-button q-button--warning is-disabled">警告按钮</button>
    <button class="q-button q-button--danger is-disabled">危险按钮</button>
  </div>

  <div class="q-row">
    <button class="q-button is-disabled is-plain">朴素按钮</button>
    <button class="q-button q-button--primary  is-disabled is-plain">主要按钮</button>
    <button class="q-button q-button--success  is-disabled is-plain">成功按钮</button>
    <button class="q-button q-button--info  is-disabled is-plain">信息按钮</button>
    <button class="q-button q-button--warning  is-disabled is-plain">警告按钮</button>
    <button class="q-button q-button--danger  is-disabled is-plain">危险按钮</button>
  </div>

  <h2>文字按钮</h2>
  <button class="q-button q-button--text">文字按钮</button>
  <button class="q-button q-button--text is-disabled">文字按钮</button>
  <h2>图标按钮</h2>

  <button class="q-button q-button--primary  q-icon-edit"></button>
  <button class="q-button q-button--primary  q-icon-share"></button>
  <button class="q-button q-button--primary  q-icon-delete"></button>
  <button class="q-button q-button--primary  q-icon-search">搜索</button>
  <button class="q-button q-button--primary  q-icon-search">上传<i class="q-icon-upload q-icon--right"></i></button>

  <h2>按钮组</h2>
  <div class="q-button-group">
    <button class="q-button q-button--primary  q-icon-arrow-left">上一页</button>
    <button class="q-button q-button--primary  q-icon-arrow-right q-icon--right">下一页</button>
  </div>
  <div class="q-button-group">
    <button class="q-button q-button--primary  q-icon-edit"></button>
    <button class="q-button q-button--primary  q-icon-share"></button>
    <button class="q-button q-button--primary  q-icon-delete"></button>
  </div>

  <h2>加载中</h2>
  <button class="q-button q-button--primary  is-loading"><i class="q-icon-loading"></i>加载中</button>
</body>

</html>