<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div id="app">
        <h1>button</h1>
        <input type="text" v-model="school.name">
        {{school.name}}
        <div> {{school.name}} </div>
        <div> {{school.age}} </div>
        <!--如果数据不变化，视图就不会刷新-->
        {{getNewName}}
        <!--我们在内部，会匹配{{}}-->
        <ui>
            <li>1</li>
            <li>1</li>
        </ui>
        <button v-on:click="change">更新数据</button>
        <button v-on:click="initPath">更新数据2</button>
        <button v-on:click="localUser">跳到User</button>
        <button v-on:click="localButton">跳到Button</button>
        <div v-html="message"></div>
    </div>

    <script type="module">
        import { getUserList, changeUserState, addUser, getUserById, editUser, deleteUser } from '../../api/index.js'
        import { Qvm } from '../../../node_modules/qvm-mvvm/Qvm.js';

        let vm = new Qvm({
            el: '#app',
            data: {
                school: {
                    name: 'mumu',
                    age: 18
                },
                message: '<h1>欢迎使用QJS</h1>'
            },
            computed: {
                getNewName() {
                    return this.school.name + '架构';
                }
            },
            methods: {
                change() {
                    this.school.name = "mumu";
                },

                localUser() {
                    location.href = "http://localhost:9000/src/view/user/index.html"
                    this.school.name = "mumu";
                },
                localButton() {
                    location.href = "http://localhost:9000/src/view/button/index.html"
                    this.school.name = "mumu";
                }

            }
        })
    </script>
</body>

</html>