<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>

<body>
    <h1>
        Icon 图标
    </h1>
    <h5>
提供了一套常用的图标集合。<br/>
使用方法:<br/>
直接通过设置类名为 q-icon-iconName 来使用即可。例如：
    </h5>
    <div id="app">
        <i class="q-icon-edit"></i>
        <i class="q-icon-share"></i>
        <i class="q-icon-delete"></i>
        <q-button type="primary" icon="q-icon-search">搜索</q-button>
    </div>
    <ul class="icon-list">
        <li><span><i class="q-icon-platform-eleme"></i><span class="icon-name">q-icon-platform-eleme</span></span>
        </li>
        <li><span><i class="q-icon-eleme"></i><span class="icon-name">q-icon-eleme</span></span></li>
        <li><span><i class="q-icon-delete-solid"></i><span class="icon-name">q-icon-delete-solid</span></span></li>
        <li><span><i class="q-icon-delete"></i><span class="icon-name">q-icon-delete</span></span></li>
        <li><span><i class="q-icon-s-tools"></i><span class="icon-name">q-icon-s-tools</span></span></li>
        <li><span><i class="q-icon-setting"></i><span class="icon-name">q-icon-setting</span></span></li>
        <li><span><i class="q-icon-user-solid"></i><span class="icon-name">q-icon-user-solid</span></span></li>
        <li><span><i class="q-icon-user"></i><span class="icon-name">q-icon-user</span></span></li>
        <li><span><i class="q-icon-phone"></i><span class="icon-name">q-icon-phone</span></span></li>
        <li><span><i class="q-icon-phone-outline"></i><span class="icon-name">q-icon-phone-outline</span></span></li>
        <li><span><i class="q-icon-more"></i><span class="icon-name">q-icon-more</span></span></li>
        <li><span><i class="q-icon-more-outline"></i><span class="icon-name">q-icon-more-outline</span></span></li>
        <li><span><i class="q-icon-star-on"></i><span class="icon-name">q-icon-star-on</span></span></li>
        <li><span><i class="q-icon-star-off"></i><span class="icon-name">q-icon-star-off</span></span></li>
        <li><span><i class="q-icon-s-goods"></i><span class="icon-name">q-icon-s-goods</span></span></li>
        <li><span><i class="q-icon-goods"></i><span class="icon-name">q-icon-goods</span></span></li>
        <li><span><i class="q-icon-warning"></i><span class="icon-name">q-icon-warning</span></span></li>
        <li><span><i class="q-icon-warning-outline"></i><span class="icon-name">q-icon-warning-outline</span></span>
        </li>
        <li><span><i class="q-icon-question"></i><span class="icon-name">q-icon-question</span></span></li>
        <li><span><i class="q-icon-info"></i><span class="icon-name">q-icon-info</span></span></li>
        <li><span><i class="q-icon-remove"></i><span class="icon-name">q-icon-remove</span></span></li>
        <li><span><i class="q-icon-circle-plus"></i><span class="icon-name">q-icon-circle-plus</span></span></li>
        <li><span><i class="q-icon-success"></i><span class="icon-name">q-icon-success</span></span></li>
        <li><span><i class="q-icon-error"></i><span class="icon-name">q-icon-error</span></span></li>
        <li><span><i class="q-icon-zoom-in"></i><span class="icon-name">q-icon-zoom-in</span></span></li>
        <li><span><i class="q-icon-zoom-out"></i><span class="icon-name">q-icon-zoom-out</span></span></li>
        <li><span><i class="q-icon-remove-outline"></i><span class="icon-name">q-icon-remove-outline</span></span>
        </li>
        <li><span><i class="q-icon-circle-plus-outline"></i><span
                    class="icon-name">q-icon-circle-plus-outline</span></span></li>
        <li><span><i class="q-icon-circle-check"></i><span class="icon-name">q-icon-circle-check</span></span></li>
        <li><span><i class="q-icon-circle-close"></i><span class="icon-name">q-icon-circle-close</span></span></li>
        <li><span><i class="q-icon-s-help"></i><span class="icon-name">q-icon-s-help</span></span></li>
        <li><span><i class="q-icon-help"></i><span class="icon-name">q-icon-help</span></span></li>
        <li><span><i class="q-icon-minus"></i><span class="icon-name">q-icon-minus</span></span></li>
        <li><span><i class="q-icon-plus"></i><span class="icon-name">q-icon-plus</span></span></li>
        <li><span><i class="q-icon-check"></i><span class="icon-name">q-icon-check</span></span></li>
        <li><span><i class="q-icon-close"></i><span class="icon-name">q-icon-close</span></span></li>
        <li><span><i class="q-icon-picture"></i><span class="icon-name">q-icon-picture</span></span></li>
        <li><span><i class="q-icon-picture-outline"></i><span class="icon-name">q-icon-picture-outline</span></span>
        </li>
        <li><span><i class="q-icon-picture-outline-round"></i><span
                    class="icon-name">q-icon-picture-outline-round</span></span></li>
        <li><span><i class="q-icon-upload"></i><span class="icon-name">q-icon-upload</span></span></li>
        <li><span><i class="q-icon-upload2"></i><span class="icon-name">q-icon-upload2</span></span></li>
        <li><span><i class="q-icon-download"></i><span class="icon-name">q-icon-download</span></span></li>
        <li><span><i class="q-icon-camera-solid"></i><span class="icon-name">q-icon-camera-solid</span></span></li>
        <li><span><i class="q-icon-camera"></i><span class="icon-name">q-icon-camera</span></span></li>
        <li><span><i class="q-icon-video-camera-solid"></i><span
                    class="icon-name">q-icon-video-camera-solid</span></span></li>
        <li><span><i class="q-icon-video-camera"></i><span class="icon-name">q-icon-video-camera</span></span></li>
        <li><span><i class="q-icon-message-solid"></i><span class="icon-name">q-icon-message-solid</span></span></li>
        <li><span><i class="q-icon-bell"></i><span class="icon-name">q-icon-bell</span></span></li>
        <li><span><i class="q-icon-s-cooperation"></i><span class="icon-name">q-icon-s-cooperation</span></span></li>
        <li><span><i class="q-icon-s-order"></i><span class="icon-name">q-icon-s-order</span></span></li>
        <li><span><i class="q-icon-s-platform"></i><span class="icon-name">q-icon-s-platform</span></span></li>
        <li><span><i class="q-icon-s-fold"></i><span class="icon-name">q-icon-s-fold</span></span></li>
        <li><span><i class="q-icon-s-unfold"></i><span class="icon-name">q-icon-s-unfold</span></span></li>
        <li><span><i class="q-icon-s-operation"></i><span class="icon-name">q-icon-s-operation</span></span></li>
        <li><span><i class="q-icon-s-promotion"></i><span class="icon-name">q-icon-s-promotion</span></span></li>
        <li><span><i class="q-icon-s-home"></i><span class="icon-name">q-icon-s-home</span></span></li>
        <li><span><i class="q-icon-s-release"></i><span class="icon-name">q-icon-s-release</span></span></li>
        <li><span><i class="q-icon-s-ticket"></i><span class="icon-name">q-icon-s-ticket</span></span></li>
        <li><span><i class="q-icon-s-management"></i><span class="icon-name">q-icon-s-management</span></span></li>
        <li><span><i class="q-icon-s-open"></i><span class="icon-name">q-icon-s-open</span></span></li>
        <li><span><i class="q-icon-s-shop"></i><span class="icon-name">q-icon-s-shop</span></span></li>
        <li><span><i class="q-icon-s-marketing"></i><span class="icon-name">q-icon-s-marketing</span></span></li>
        <li><span><i class="q-icon-s-flag"></i><span class="icon-name">q-icon-s-flag</span></span></li>
        <li><span><i class="q-icon-s-comment"></i><span class="icon-name">q-icon-s-comment</span></span></li>
        <li><span><i class="q-icon-s-finance"></i><span class="icon-name">q-icon-s-finance</span></span></li>
        <li><span><i class="q-icon-s-claim"></i><span class="icon-name">q-icon-s-claim</span></span></li>
        <li><span><i class="q-icon-s-custom"></i><span class="icon-name">q-icon-s-custom</span></span></li>
        <li><span><i class="q-icon-s-opportunity"></i><span class="icon-name">q-icon-s-opportunity</span></span></li>
        <li><span><i class="q-icon-s-data"></i><span class="icon-name">q-icon-s-data</span></span></li>
        <li><span><i class="q-icon-s-check"></i><span class="icon-name">q-icon-s-check</span></span></li>
        <li><span><i class="q-icon-s-grid"></i><span class="icon-name">q-icon-s-grid</span></span></li>
        <li><span><i class="q-icon-menu"></i><span class="icon-name">q-icon-menu</span></span></li>
        <li><span><i class="q-icon-share"></i><span class="icon-name">q-icon-share</span></span></li>
        <li><span><i class="q-icon-d-caret"></i><span class="icon-name">q-icon-d-caret</span></span></li>
        <li><span><i class="q-icon-caret-left"></i><span class="icon-name">q-icon-caret-left</span></span></li>
        <li><span><i class="q-icon-caret-right"></i><span class="icon-name">q-icon-caret-right</span></span></li>
        <li><span><i class="q-icon-caret-bottom"></i><span class="icon-name">q-icon-caret-bottom</span></span></li>
        <li><span><i class="q-icon-caret-top"></i><span class="icon-name">q-icon-caret-top</span></span></li>
        <li><span><i class="q-icon-bottom-left"></i><span class="icon-name">q-icon-bottom-left</span></span></li>
        <li><span><i class="q-icon-bottom-right"></i><span class="icon-name">q-icon-bottom-right</span></span></li>
        <li><span><i class="q-icon-back"></i><span class="icon-name">q-icon-back</span></span></li>
        <li><span><i class="q-icon-right"></i><span class="icon-name">q-icon-right</span></span></li>
        <li><span><i class="q-icon-bottom"></i><span class="icon-name">q-icon-bottom</span></span></li>
        <li><span><i class="q-icon-top"></i><span class="icon-name">q-icon-top</span></span></li>
        <li><span><i class="q-icon-top-left"></i><span class="icon-name">q-icon-top-left</span></span></li>
        <li><span><i class="q-icon-top-right"></i><span class="icon-name">q-icon-top-right</span></span></li>
        <li><span><i class="q-icon-arrow-left"></i><span class="icon-name">q-icon-arrow-left</span></span></li>
        <li><span><i class="q-icon-arrow-right"></i><span class="icon-name">q-icon-arrow-right</span></span></li>
        <li><span><i class="q-icon-arrow-down"></i><span class="icon-name">q-icon-arrow-down</span></span></li>
        <li><span><i class="q-icon-arrow-up"></i><span class="icon-name">q-icon-arrow-up</span></span></li>
        <li><span><i class="q-icon-d-arrow-left"></i><span class="icon-name">q-icon-d-arrow-left</span></span></li>
        <li><span><i class="q-icon-d-arrow-right"></i><span class="icon-name">q-icon-d-arrow-right</span></span></li>
        <li><span><i class="q-icon-video-pause"></i><span class="icon-name">q-icon-video-pause</span></span></li>
        <li><span><i class="q-icon-video-play"></i><span class="icon-name">q-icon-video-play</span></span></li>
        <li><span><i class="q-icon-refresh"></i><span class="icon-name">q-icon-refresh</span></span></li>
        <li><span><i class="q-icon-refresh-right"></i><span class="icon-name">q-icon-refresh-right</span></span></li>
        <li><span><i class="q-icon-refresh-left"></i><span class="icon-name">q-icon-refresh-left</span></span></li>
        <li><span><i class="q-icon-finished"></i><span class="icon-name">q-icon-finished</span></span></li>
        <li><span><i class="q-icon-sort"></i><span class="icon-name">q-icon-sort</span></span></li>
        <li><span><i class="q-icon-sort-up"></i><span class="icon-name">q-icon-sort-up</span></span></li>
        <li><span><i class="q-icon-sort-down"></i><span class="icon-name">q-icon-sort-down</span></span></li>
        <li><span><i class="q-icon-rank"></i><span class="icon-name">q-icon-rank</span></span></li>
        <li><span><i class="q-icon-loading"></i><span class="icon-name">q-icon-loading</span></span></li>
        <li><span><i class="q-icon-view"></i><span class="icon-name">q-icon-view</span></span></li>
        <li><span><i class="q-icon-c-scale-to-original"></i><span
                    class="icon-name">q-icon-c-scale-to-original</span></span></li>
        <li><span><i class="q-icon-date"></i><span class="icon-name">q-icon-date</span></span></li>
        <li><span><i class="q-icon-edit"></i><span class="icon-name">q-icon-edit</span></span></li>
        <li><span><i class="q-icon-edit-outline"></i><span class="icon-name">q-icon-edit-outline</span></span></li>
        <li><span><i class="q-icon-folder"></i><span class="icon-name">q-icon-folder</span></span></li>
        <li><span><i class="q-icon-folder-opened"></i><span class="icon-name">q-icon-folder-opened</span></span></li>
        <li><span><i class="q-icon-folder-add"></i><span class="icon-name">q-icon-folder-add</span></span></li>
        <li><span><i class="q-icon-folder-remove"></i><span class="icon-name">q-icon-folder-remove</span></span></li>
        <li><span><i class="q-icon-folder-delete"></i><span class="icon-name">q-icon-folder-delete</span></span></li>
        <li><span><i class="q-icon-folder-checked"></i><span class="icon-name">q-icon-folder-checked</span></span>
        </li>
        <li><span><i class="q-icon-tickets"></i><span class="icon-name">q-icon-tickets</span></span></li>
        <li><span><i class="q-icon-document-remove"></i><span class="icon-name">q-icon-document-remove</span></span>
        </li>
        <li><span><i class="q-icon-document-delete"></i><span class="icon-name">q-icon-document-delete</span></span>
        </li>
        <li><span><i class="q-icon-document-copy"></i><span class="icon-name">q-icon-document-copy</span></span></li>
        <li><span><i class="q-icon-document-checked"></i><span class="icon-name">q-icon-document-checked</span></span>
        </li>
        <li><span><i class="q-icon-document"></i><span class="icon-name">q-icon-document</span></span></li>
        <li><span><i class="q-icon-document-add"></i><span class="icon-name">q-icon-document-add</span></span></li>
        <li><span><i class="q-icon-printer"></i><span class="icon-name">q-icon-printer</span></span></li>
        <li><span><i class="q-icon-paperclip"></i><span class="icon-name">q-icon-paperclip</span></span></li>
        <li><span><i class="q-icon-takeaway-box"></i><span class="icon-name">q-icon-takeaway-box</span></span></li>
        <li><span><i class="q-icon-search"></i><span class="icon-name">q-icon-search</span></span></li>
        <li><span><i class="q-icon-monitor"></i><span class="icon-name">q-icon-monitor</span></span></li>
        <li><span><i class="q-icon-attract"></i><span class="icon-name">q-icon-attract</span></span></li>
        <li><span><i class="q-icon-mobile"></i><span class="icon-name">q-icon-mobile</span></span></li>
        <li><span><i class="q-icon-scissors"></i><span class="icon-name">q-icon-scissors</span></span></li>
        <li><span><i class="q-icon-umbrella"></i><span class="icon-name">q-icon-umbrella</span></span></li>
        <li><span><i class="q-icon-headset"></i><span class="icon-name">q-icon-headset</span></span></li>
        <li><span><i class="q-icon-brush"></i><span class="icon-name">q-icon-brush</span></span></li>
        <li><span><i class="q-icon-mouse"></i><span class="icon-name">q-icon-mouse</span></span></li>
        <li><span><i class="q-icon-coordinate"></i><span class="icon-name">q-icon-coordinate</span></span></li>
        <li><span><i class="q-icon-magic-stick"></i><span class="icon-name">q-icon-magic-stick</span></span></li>
        <li><span><i class="q-icon-reading"></i><span class="icon-name">q-icon-reading</span></span></li>
        <li><span><i class="q-icon-data-line"></i><span class="icon-name">q-icon-data-line</span></span></li>
        <li><span><i class="q-icon-data-board"></i><span class="icon-name">q-icon-data-board</span></span></li>
        <li><span><i class="q-icon-pie-chart"></i><span class="icon-name">q-icon-pie-chart</span></span></li>
        <li><span><i class="q-icon-data-analysis"></i><span class="icon-name">q-icon-data-analysis</span></span></li>
        <li><span><i class="q-icon-collection-tag"></i><span class="icon-name">q-icon-collection-tag</span></span>
        </li>
        <li><span><i class="q-icon-film"></i><span class="icon-name">q-icon-film</span></span></li>
        <li><span><i class="q-icon-suitcase"></i><span class="icon-name">q-icon-suitcase</span></span></li>
        <li><span><i class="q-icon-suitcase-1"></i><span class="icon-name">q-icon-suitcase-1</span></span></li>
        <li><span><i class="q-icon-receiving"></i><span class="icon-name">q-icon-receiving</span></span></li>
        <li><span><i class="q-icon-collection"></i><span class="icon-name">q-icon-collection</span></span></li>
        <li><span><i class="q-icon-files"></i><span class="icon-name">q-icon-files</span></span></li>
        <li><span><i class="q-icon-notebook-1"></i><span class="icon-name">q-icon-notebook-1</span></span></li>
        <li><span><i class="q-icon-notebook-2"></i><span class="icon-name">q-icon-notebook-2</span></span></li>
        <li><span><i class="q-icon-toilet-paper"></i><span class="icon-name">q-icon-toilet-paper</span></span></li>
        <li><span><i class="q-icon-office-building"></i><span class="icon-name">q-icon-office-building</span></span>
        </li>
        <li><span><i class="q-icon-school"></i><span class="icon-name">q-icon-school</span></span></li>
        <li><span><i class="q-icon-table-lamp"></i><span class="icon-name">q-icon-table-lamp</span></span></li>
        <li><span><i class="q-icon-house"></i><span class="icon-name">q-icon-house</span></span></li>
        <li><span><i class="q-icon-no-smoking"></i><span class="icon-name">q-icon-no-smoking</span></span></li>
        <li><span><i class="q-icon-smoking"></i><span class="icon-name">q-icon-smoking</span></span></li>
        <li><span><i class="q-icon-shopping-cart-full"></i><span
                    class="icon-name">q-icon-shopping-cart-full</span></span></li>
        <li><span><i class="q-icon-shopping-cart-1"></i><span class="icon-name">q-icon-shopping-cart-1</span></span>
        </li>
        <li><span><i class="q-icon-shopping-cart-2"></i><span class="icon-name">q-icon-shopping-cart-2</span></span>
        </li>
        <li><span><i class="q-icon-shopping-bag-1"></i><span class="icon-name">q-icon-shopping-bag-1</span></span>
        </li>
        <li><span><i class="q-icon-shopping-bag-2"></i><span class="icon-name">q-icon-shopping-bag-2</span></span>
        </li>
        <li><span><i class="q-icon-sold-out"></i><span class="icon-name">q-icon-sold-out</span></span></li>
        <li><span><i class="q-icon-sell"></i><span class="icon-name">q-icon-sell</span></span></li>
        <li><span><i class="q-icon-present"></i><span class="icon-name">q-icon-present</span></span></li>
        <li><span><i class="q-icon-box"></i><span class="icon-name">q-icon-box</span></span></li>
        <li><span><i class="q-icon-bank-card"></i><span class="icon-name">q-icon-bank-card</span></span></li>
        <li><span><i class="q-icon-money"></i><span class="icon-name">q-icon-money</span></span></li>
        <li><span><i class="q-icon-coin"></i><span class="icon-name">q-icon-coin</span></span></li>
        <li><span><i class="q-icon-wallet"></i><span class="icon-name">q-icon-wallet</span></span></li>
        <li><span><i class="q-icon-discount"></i><span class="icon-name">q-icon-discount</span></span></li>
        <li><span><i class="q-icon-price-tag"></i><span class="icon-name">q-icon-price-tag</span></span></li>
        <li><span><i class="q-icon-news"></i><span class="icon-name">q-icon-news</span></span></li>
        <li><span><i class="q-icon-guide"></i><span class="icon-name">q-icon-guide</span></span></li>
        <li><span><i class="q-icon-male"></i><span class="icon-name">q-icon-male</span></span></li>
        <li><span><i class="q-icon-female"></i><span class="icon-name">q-icon-female</span></span></li>
        <li><span><i class="q-icon-thumb"></i><span class="icon-name">q-icon-thumb</span></span></li>
        <li><span><i class="q-icon-cpu"></i><span class="icon-name">q-icon-cpu</span></span></li>
        <li><span><i class="q-icon-link"></i><span class="icon-name">q-icon-link</span></span></li>
        <li><span><i class="q-icon-connection"></i><span class="icon-name">q-icon-connection</span></span></li>
        <li><span><i class="q-icon-open"></i><span class="icon-name">q-icon-open</span></span></li>
        <li><span><i class="q-icon-turn-off"></i><span class="icon-name">q-icon-turn-off</span></span></li>
        <li><span><i class="q-icon-set-up"></i><span class="icon-name">q-icon-set-up</span></span></li>
        <li><span><i class="q-icon-chat-round"></i><span class="icon-name">q-icon-chat-round</span></span></li>
        <li><span><i class="q-icon-chat-line-round"></i><span class="icon-name">q-icon-chat-line-round</span></span>
        </li>
        <li><span><i class="q-icon-chat-square"></i><span class="icon-name">q-icon-chat-square</span></span></li>
        <li><span><i class="q-icon-chat-dot-round"></i><span class="icon-name">q-icon-chat-dot-round</span></span>
        </li>
        <li><span><i class="q-icon-chat-dot-square"></i><span class="icon-name">q-icon-chat-dot-square</span></span>
        </li>
        <li><span><i class="q-icon-chat-line-square"></i><span class="icon-name">q-icon-chat-line-square</span></span>
        </li>
        <li><span><i class="q-icon-message"></i><span class="icon-name">q-icon-message</span></span></li>
        <li><span><i class="q-icon-postcard"></i><span class="icon-name">q-icon-postcard</span></span></li>
        <li><span><i class="q-icon-position"></i><span class="icon-name">q-icon-position</span></span></li>
        <li><span><i class="q-icon-turn-off-microphone"></i><span
                    class="icon-name">q-icon-turn-off-microphone</span></span></li>
        <li><span><i class="q-icon-microphone"></i><span class="icon-name">q-icon-microphone</span></span></li>
        <li><span><i class="q-icon-close-notification"></i><span
                    class="icon-name">q-icon-close-notification</span></span></li>
        <li><span><i class="q-icon-bangzhu"></i><span class="icon-name">q-icon-bangzhu</span></span></li>
        <li><span><i class="q-icon-time"></i><span class="icon-name">q-icon-time</span></span></li>
        <li><span><i class="q-icon-odometer"></i><span class="icon-name">q-icon-odometer</span></span></li>
        <li><span><i class="q-icon-crop"></i><span class="icon-name">q-icon-crop</span></span></li>
        <li><span><i class="q-icon-aim"></i><span class="icon-name">q-icon-aim</span></span></li>
        <li><span><i class="q-icon-switch-button"></i><span class="icon-name">q-icon-switch-button</span></span></li>
        <li><span><i class="q-icon-full-screen"></i><span class="icon-name">q-icon-full-screen</span></span></li>
        <li><span><i class="q-icon-copy-document"></i><span class="icon-name">q-icon-copy-document</span></span></li>
        <li><span><i class="q-icon-mic"></i><span class="icon-name">q-icon-mic</span></span></li>
        <li><span><i class="q-icon-stopwatch"></i><span class="icon-name">q-icon-stopwatch</span></span></li>
        <li><span><i class="q-icon-medal-1"></i><span class="icon-name">q-icon-medal-1</span></span></li>
        <li><span><i class="q-icon-medal"></i><span class="icon-name">q-icon-medal</span></span></li>
        <li><span><i class="q-icon-trophy"></i><span class="icon-name">q-icon-trophy</span></span></li>
        <li><span><i class="q-icon-trophy-1"></i><span class="icon-name">q-icon-trophy-1</span></span></li>
        <li><span><i class="q-icon-first-aid-kit"></i><span class="icon-name">q-icon-first-aid-kit</span></span></li>
        <li><span><i class="q-icon-discover"></i><span class="icon-name">q-icon-discover</span></span></li>
        <li><span><i class="q-icon-place"></i><span class="icon-name">q-icon-place</span></span></li>
        <li><span><i class="q-icon-location"></i><span class="icon-name">q-icon-location</span></span></li>
        <li><span><i class="q-icon-location-outline"></i><span class="icon-name">q-icon-location-outline</span></span>
        </li>
        <li><span><i class="q-icon-location-information"></i><span
                    class="icon-name">q-icon-location-information</span></span></li>
        <li><span><i class="q-icon-add-location"></i><span class="icon-name">q-icon-add-location</span></span></li>
        <li><span><i class="q-icon-delete-location"></i><span class="icon-name">q-icon-delete-location</span></span>
        </li>
        <li><span><i class="q-icon-map-location"></i><span class="icon-name">q-icon-map-location</span></span></li>
        <li><span><i class="q-icon-alarm-clock"></i><span class="icon-name">q-icon-alarm-clock</span></span></li>
        <li><span><i class="q-icon-timer"></i><span class="icon-name">q-icon-timer</span></span></li>
        <li><span><i class="q-icon-watch-1"></i><span class="icon-name">q-icon-watch-1</span></span></li>
        <li><span><i class="q-icon-watch"></i><span class="icon-name">q-icon-watch</span></span></li>
        <li><span><i class="q-icon-lock"></i><span class="icon-name">q-icon-lock</span></span></li>
        <li><span><i class="q-icon-unlock"></i><span class="icon-name">q-icon-unlock</span></span></li>
        <li><span><i class="q-icon-key"></i><span class="icon-name">q-icon-key</span></span></li>
        <li><span><i class="q-icon-service"></i><span class="icon-name">q-icon-service</span></span></li>
        <li><span><i class="q-icon-mobile-phone"></i><span class="icon-name">q-icon-mobile-phone</span></span></li>
        <li><span><i class="q-icon-bicycle"></i><span class="icon-name">q-icon-bicycle</span></span></li>
        <li><span><i class="q-icon-truck"></i><span class="icon-name">q-icon-truck</span></span></li>
        <li><span><i class="q-icon-ship"></i><span class="icon-name">q-icon-ship</span></span></li>
        <li><span><i class="q-icon-basketball"></i><span class="icon-name">q-icon-basketball</span></span></li>
        <li><span><i class="q-icon-football"></i><span class="icon-name">q-icon-football</span></span></li>
        <li><span><i class="q-icon-soccer"></i><span class="icon-name">q-icon-soccer</span></span></li>
        <li><span><i class="q-icon-baseball"></i><span class="icon-name">q-icon-baseball</span></span></li>
        <li><span><i class="q-icon-wind-power"></i><span class="icon-name">q-icon-wind-power</span></span></li>
        <li><span><i class="q-icon-light-rain"></i><span class="icon-name">q-icon-light-rain</span></span></li>
        <li><span><i class="q-icon-lightning"></i><span class="icon-name">q-icon-lightning</span></span></li>
        <li><span><i class="q-icon-heavy-rain"></i><span class="icon-name">q-icon-heavy-rain</span></span></li>
        <li><span><i class="q-icon-sunrise"></i><span class="icon-name">q-icon-sunrise</span></span></li>
        <li><span><i class="q-icon-sunrise-1"></i><span class="icon-name">q-icon-sunrise-1</span></span></li>
        <li><span><i class="q-icon-sunset"></i><span class="icon-name">q-icon-sunset</span></span></li>
        <li><span><i class="q-icon-sunny"></i><span class="icon-name">q-icon-sunny</span></span></li>
        <li><span><i class="q-icon-cloudy"></i><span class="icon-name">q-icon-cloudy</span></span></li>
        <li><span><i class="q-icon-partly-cloudy"></i><span class="icon-name">q-icon-partly-cloudy</span></span></li>
        <li><span><i class="q-icon-cloudy-and-sunny"></i><span class="icon-name">q-icon-cloudy-and-sunny</span></span>
        </li>
        <li><span><i class="q-icon-moon"></i><span class="icon-name">q-icon-moon</span></span></li>
        <li><span><i class="q-icon-moon-night"></i><span class="icon-name">q-icon-moon-night</span></span></li>
        <li><span><i class="q-icon-dish"></i><span class="icon-name">q-icon-dish</span></span></li>
        <li><span><i class="q-icon-dish-1"></i><span class="icon-name">q-icon-dish-1</span></span></li>
        <li><span><i class="q-icon-food"></i><span class="icon-name">q-icon-food</span></span></li>
        <li><span><i class="q-icon-chicken"></i><span class="icon-name">q-icon-chicken</span></span></li>
        <li><span><i class="q-icon-fork-spoon"></i><span class="icon-name">q-icon-fork-spoon</span></span></li>
        <li><span><i class="q-icon-knife-fork"></i><span class="icon-name">q-icon-knife-fork</span></span></li>
        <li><span><i class="q-icon-burger"></i><span class="icon-name">q-icon-burger</span></span></li>
        <li><span><i class="q-icon-tableware"></i><span class="icon-name">q-icon-tableware</span></span></li>
        <li><span><i class="q-icon-sugar"></i><span class="icon-name">q-icon-sugar</span></span></li>
        <li><span><i class="q-icon-dessert"></i><span class="icon-name">q-icon-dessert</span></span></li>
        <li><span><i class="q-icon-ice-cream"></i><span class="icon-name">q-icon-ice-cream</span></span></li>
        <li><span><i class="q-icon-hot-water"></i><span class="icon-name">q-icon-hot-water</span></span></li>
        <li><span><i class="q-icon-water-cup"></i><span class="icon-name">q-icon-water-cup</span></span></li>
        <li><span><i class="q-icon-coffee-cup"></i><span class="icon-name">q-icon-coffee-cup</span></span></li>
        <li><span><i class="q-icon-cold-drink"></i><span class="icon-name">q-icon-cold-drink</span></span></li>
        <li><span><i class="q-icon-goblet"></i><span class="icon-name">q-icon-goblet</span></span></li>
        <li><span><i class="q-icon-goblet-full"></i><span class="icon-name">q-icon-goblet-full</span></span></li>
        <li><span><i class="q-icon-goblet-square"></i><span class="icon-name">q-icon-goblet-square</span></span></li>
        <li><span><i class="q-icon-goblet-square-full"></i><span
                    class="icon-name">q-icon-goblet-square-full</span></span></li>
        <li><span><i class="q-icon-refrigerator"></i><span class="icon-name">q-icon-refrigerator</span></span></li>
        <li><span><i class="q-icon-grape"></i><span class="icon-name">q-icon-grape</span></span></li>
        <li><span><i class="q-icon-watermelon"></i><span class="icon-name">q-icon-watermelon</span></span></li>
        <li><span><i class="q-icon-cherry"></i><span class="icon-name">q-icon-cherry</span></span></li>
        <li><span><i class="q-icon-apple"></i><span class="icon-name">q-icon-apple</span></span></li>
        <li><span><i class="q-icon-pear"></i><span class="icon-name">q-icon-pear</span></span></li>
        <li><span><i class="q-icon-orange"></i><span class="icon-name">q-icon-orange</span></span></li>
        <li><span><i class="q-icon-coffee"></i><span class="icon-name">q-icon-coffee</span></span></li>
        <li><span><i class="q-icon-ice-tea"></i><span class="icon-name">q-icon-ice-tea</span></span></li>
        <li><span><i class="q-icon-ice-drink"></i><span class="icon-name">q-icon-ice-drink</span></span></li>
        <li><span><i class="q-icon-milk-tea"></i><span class="icon-name">q-icon-milk-tea</span></span></li>
        <li><span><i class="q-icon-potato-strips"></i><span class="icon-name">q-icon-potato-strips</span></span></li>
        <li><span><i class="q-icon-lollipop"></i><span class="icon-name">q-icon-lollipop</span></span></li>
        <li><span><i class="q-icon-ice-cream-square"></i><span class="icon-name">q-icon-ice-cream-square</span></span>
        </li>
        <li><span><i class="q-icon-ice-cream-round"></i><span class="icon-name">q-icon-ice-cream-round</span></span>
        </li>
    </ul>
</body>

</html>