<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/index.css">
  <style>

  </style>
</head>

<body>

  <form class="q-form">
    <div class="q-form-item">
      <label class="q-form-item__label" style="width: 80px;">活动名称</label>
      <div class="q-form-item__content" style="margin-left: 80px;">
        <div class="q-input">
          <input type="text" title="121" autocomplete="off" class="q-input__inner" />
        </div>
      </div>
    </div>
    <div class="q-form-item">
      <label class="q-form-item__label" style="width: 80px;">活动区域</label>
      <div class="q-form-item__content" style="margin-left: 80px;">

        <div class="q-select"><!---->
          <select class="q-select__inner" style="display: none;">
            <option value="1">红袖天香</option>
            <option value="2" selected="">断桥残雪</option>
            <option value="3">墨染双蕊</option>
            <option value="4">悠悠我心</option>
            <option value="5">镜花水月</option>
          </select>
          <div class="q-input el-input--suffix is-focus"><!----><input type="text" readonly="readonly"
              autocomplete="off" placeholder="请选择活动区域" class="q-input__inner"><!---->
              <span  class="q-input__suffix"><span class="q-input__suffix-inner">
                <i class="q-select__caret q-input__icon q-icon-arrow-up is-reverse"></i><!----><!----><!----><!----><!----></span><!----></span><!----><!---->
          </div>
          <ul class="q-select__ul">
            <li class="q-select__option selected" data-value="1">红袖天香</li>
            <li class="q-select__option" data-value="2">断桥残雪</li>
            <li class="q-select__option" data-value="3">墨染双蕊</li>
            <li class="q-select__option" data-value="4">悠悠我心</li>
            <li class="q-select__option" data-value="5">镜花水月</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="q-form-item">
      <label class="q-form-item__label" style="width: 80px;">活动区域</label>
      <div class="q-form-item__content" style="margin-left: 80px;">
        <div class="q-select"><!---->
          <div class="q-input el-input--suffix is-focus">
            <!----><input type="text" readonly="readonly" autocomplete="off" placeholder="请选择活动区域"
              class="q-input__inner"><!---->
            <span class="q-input__suffix"><span class="q-input__suffix-inner"><i
                  class="q-select__caret q-input__icon q-icon-arrow-up is-reverse"></i></span>
            </span>
          </div>
          <div class="q-select-dropdown el-popper" style="display: none;  min-width: 217px;">
            <div class="q-scrollbar" style="">
              <div class="q-select-dropdown__wrap q-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                <ul class="q-scrollbar__view el-select-dropdown__list"><!---->
                  <li class="q-select-dropdown__item"><span>区域一</span></li>
                  <li class="q-select-dropdown__item"><span>区域二</span></li>
                </ul>
              </div>
              <div class="q-scrollbar__bar is-horizontal">
                <div class="q-scrollbar__thumb" style="transform: translateX(0%);"></div>
              </div>
              <div class="q-scrollbar__bar is-vertical">
                <div class="q-scrollbar__thumb" style="transform: translateY(0%);"></div>
              </div>
            </div><!---->
          </div>
        </div><!---->
      </div>
    </div>




    <el-form-item label="活动区域">
      <el-select v-model="form.region" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="活动时间">
      <el-col :span="11">
        <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
      </el-col>
      <el-col class="line" :span="2">-</el-col>
      <el-col :span="11">
        <el-time-picker placeholder="选择时间" v-model="form.date2" style="width: 100%;"></el-time-picker>
      </el-col>
    </el-form-item>
    <el-form-item label="即时配送">
      <el-switch v-model="form.delivery"></el-switch>
    </el-form-item>
    <el-form-item label="活动性质">
      <el-checkbox-group v-model="form.type">
        <el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>
        <el-checkbox label="地推活动" name="type"></el-checkbox>
        <el-checkbox label="线下主题活动" name="type"></el-checkbox>
        <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
      </el-checkbox-group>
    </el-form-item>
    <el-form-item label="特殊资源">
      <el-radio-group v-model="form.resource">
        <el-radio label="线上品牌商赞助"></el-radio>
        <el-radio label="线下场地免费"></el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="活动形式">
      <el-input type="textarea" v-model="form.desc"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">立即创建</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </form>


</body>

</html>